# Core API
fastapi==0.116.1
uvicorn==0.35.0
gunicorn==23.0.0
starlette==0.47.2

# ML + CV
tensorflow==2.15.0
mediapipe==0.10.21
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
scikit-learn==1.7.1
scipy==1.15.3
h5py==3.14.0

# Utils
numpy==1.26.4
protobuf==4.25.3
pillow==11.3.0
requests==2.32.5
joblib==1.5.1

# Optional (logging / CLI)
rich==14.1.0
